/* style.css   AD17006*/
body{
    text-align: center;
    background-color: lightgreen;
}
a{
    text-decoration: none;
    background-color: lightcoral;
    color: black;
    border: solid black 2px;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}
a:hover{
    background-color: brown;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-item{
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 1px;
}
.footer{
    /*padding: 5px 10px;*/
    width: 100%;
    position: absolute;
    flex-direction:column;
    background-color: limegreen;
    justify-content: center;
}